body {
    background-color: #f3ebd9;
}

.container {
    display: grid;
    grid-template-columns: 5fr 6fr;
    gap: 5rem;
    max-width: 1100px;
    margin: 0 auto;
    padding: 5rem;
    align-items: center;
  }
  
.right-column img {
    max-width: 100%;
    height: auto;
    border-radius: 3rem;
    position: relative;
    display: block;
    outline: dotted 8px #E49E36;
    outline-offset: 0.7rem;
}

.left-column {
    align-items: center;
}

/* Other rows: stretch full width */
.full-row {
    grid-column: 1 / -1;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.full-row img {
    border-radius: 1rem;
    border: 1rem solid white;
    border-bottom: 4rem solid white;
    box-shadow: -0.5rem 0.5rem 0.5rem #d7c8a9;;
    width: 28%;
}

.full-row img:nth-of-type(1) {
    transform: rotate(-9deg);
}

.full-row img:nth-of-type(2) {
    transform: rotate(3deg);
}

.full-row img:nth-of-type(3) {
    transform: rotate(7deg);
}

.full-row img:nth-of-type(4) {
    transform: rotate(-3deg);
}
  
.full-row img:nth-of-type(5) {
    transform: rotate(4deg);
}

.full-row img:nth-of-type(6) {
    transform: rotate(11deg);
}

.full-row img:nth-of-type(7) {
    transform: rotate(-8deg);
}

.full-row img:nth-of-type(8) {
    transform: rotate(-2deg);
}

.full-row img:nth-of-type(9) {
    transform: rotate(5deg);
}

.fun-fact {
    width: clamp(13rem, 20%, 20%);
    background-color: #4D695A;
    margin: 0.6rem;
    padding: 2rem;
    height: 13rem;
    border-radius: 1rem; 
    outline: 3px solid #4D695A;
    outline-offset: 5px;
    display: grid;
    align-items: center;
}

.fun-fact p {
    text-align: center;
    font-family: "Chicle", serif;
    font-size: 1.5rem;
    color: #f9f5ec;
    font-family: "Montserrat Alternates", sans-serif;
}

h1, h2, h3, h4 {
    font-weight: bold;
    font-family: "Chicle", serif;
    color: #B22E45;
    padding: 1rem;
    text-align: center;
}

h1 {
    font-size: clamp(7rem, 15vw, 13rem);
    color: #822132;
    line-height: 83%;
}

h2 {
    font-size: clamp(4rem, 10vw, 6rem);
    padding: 0.5rem 2rem;
}

h3 {
    color: #374840;
    font-size: clamp(2rem, 8vw, 3.2rem);
}

h4 {
    font-size: clamp(1.75rem, 7vw, 2.8rem);
    color: #822132;
}

h4 b {
    color: #B22E45;
}

p {
    line-height: 130%;
}


@media (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr; /* single column */
        gap: 1.5rem;
        padding: 1rem;
    }

    .right-column {
        text-align: center;
    }

    .right-column img {
        max-width: 80%;
        height: auto;
        border-radius: 1rem;
        position: relative;
        display: block;
        box-shadow: none;
        margin: 1rem auto 0;
    }

    h3 {
        margin: 1.5rem 0 0 0;
    }

    h3:nth-of-type(2) {
        margin: 0 0 1.5rem 0;
    }

    .full-row img {
        border-radius: 0.5rem;
        border: 0.7rem solid white;
        border-bottom: 3rem solid white;
        box-shadow: -0.5rem 0.5rem 0.5rem #d7c8a9;;
        width: 70%;
        margin-bottom: -3.75rem;
    }

    .full-row img:last-of-type {
        margin-bottom: 0rem;
    }

    .full-row img:nth-of-type(odd) {
        margin-left: -2.5rem;
    }
    
    .full-row img:nth-of-type(even) {
        margin-left: 2.5rem;
    }

    .fun-fact {
        width: 80%;
        background-color: #4D695A;
        padding: 2rem;
        margin: 0.6rem;
        height: 7.75rem;
        border-radius: 1rem; 
        outline: 3px solid #4D695A;
        outline-offset: 5px;
        display: grid;
        align-items: center;
    }

    .fun-fact p {
        text-align: center;
        font-family: "Chicle", serif;
        font-size: 1.2rem;
        color: #f9f5ec;
        font-family: "Montserrat Alternates", sans-serif;
    }
}